* {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 910px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-column: 2/2;
    grid-row: 1/1;
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    background-color: #fafafa;
}

.headerSearch {
    display: flex;
    grid-template-columns: 1fr 10fr;
    place-items: center;
}

.HeaderSearchIcon {
    flex: 1 1 1;
    margin-right: 0.5rem;
    font-weight: bold;
    width: 1rem;
    height: 1rem;

}

input {
    flex: 1 1 1;
    width: 25rem;
    border-radius: 2rem;
    border-style: none;
    height: 1.5rem;
    background-color: #e7e5e4;
}




.headerAcc {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.bellIcon {
    width: 1rem;
    height: 1rem;
}

.topProfilePic {
    border-radius: 2rem;
    object-fit: contain;
    height: 3rem;
    margin-left: 1rem;
}

.topUserName {
    font-weight: bold;
}

.bottom {
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.bottomAccInfo {
    display: flex;
    gap: 1rem;
    place-items: center;

}

.hiThere {
    font-weight: bold;
    font-size: 0.7rem;
}

.UserNameGreet {
    font-weight: bold;
    font-size: 1.2rem;
}



.BottomUserGreating {}

.bottUserName {}

.bottomButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
}

.bottomButtons>* {
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: #0ea5e9;
    padding: 0.5rem 1.2rem;
    border-style: none;
    border-radius: 0.8rem;
    color: #fafafa;
    font-weight: bold;
}

.dashboard {
    grid-column: 1/1;
    grid-row: 1/3;
    background-color: #0ea5e9;

    display: grid;
    grid-template-rows: 0.7fr 2.5fr 5fr;
    gap: 0.2rem;

}

.logo {
    margin-left: 0.2rem;
    font-weight: bold;
    color: #fafafa;
    font-size: 1.4rem;
    margin-left: 1.4rem;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-left: 0.9rem;
    gap: 1rem;

}

.nav>p {
    font-weight: bold;
    font-size: 1.2rem;
    color: #fafafa;
}

.settings {
    display: flex;
    flex-direction: column;
    margin-left: 1.6rem;
    gap: 1rem;
}

.settings>* {
    font-weight: bold;
    font-size: 1.2rem;
    color: #fafafa;
}

.contentPage {
    grid-column: 2/2;
    grid-row: 2/2;

    display: grid;
    grid-template-rows: 1fr 10fr;
    background-color: #e7e5e4;
    gap: 1rem;
}

.contentHeader {
    background-color: #e7e5e4;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;

}

.contentHeader>p {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 1rem;

}

.contentArticals {
    background-color: #e7e5e4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.articals {
    background-color: #e7e5e4;
    grid-area: 1/1/3/1;


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.articals>div {
    margin: 1rem;
    border-radius: 5%;
    background-color: #fafafa;
    box-shadow: 5px 5px rgb(205, 207, 207);
}

.articale1 {
    display: grid;
    grid-template-columns: 0.3fr 7fr;
    grid-template-rows: 1fr 3fr;
}

.orangeLine {
    border-radius: 10% 0px 10% 0px;
    grid-row: 1/4;
    grid-column: 1/1;
    background-color: orange;

}

.articalTextContent {
    place-self: center;
    background-color: #0ea5e9;
    width: 95%;
    height: 95%;

    grid-column: 2/4;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
}

.articalTextHeadline {

    margin-top: 1rem;


}

.articalText {
    text-wrap: wrap;
}

.articalContainerOfIcons {
    place-self: end end;
    margin-bottom: 1rem;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    gap: 0.5rem;
    margin-right: 1rem;
    height: 20%;

}

.Social {
    height: 60%;
}
.anusments {
    background-color: #e7e5e4;

    display: grid;
    place-items: center;
}

.contentAmuse {
    height: 90%;
    width: 90%;
    background-color: #fafafa;
    border-radius: 5%;
    box-shadow: 5px 5px rgb(205, 207, 207);
}

.trending {
    background-color: #e7e5e4;
    display: grid;
    place-items: center;
}

.contentTrending {
    height: 90%;
    width: 90%;
    background-color: #fafafa;
    border-radius: 5%;
    box-shadow: 5px 5px rgb(205, 207, 207);
}